<html>

<head>
    <title>Kanban Monitor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/1/1e/RPC-JP_Logo.png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">



    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Rubik', cursive;
        }
    </style>
</head>


<body class="bg-dark">
    <div class="container-fluid">
        <div class=row>
            <div class="col-12 col-md-12 text-light" style="padding-top:1rem;">
                <h1 class=text-center>Kanban Monitor</h1>
            </div>
        </div>
        <div class="container" id=tabulations>
              <p>tst</p>
        </div>

    </div>
</body>
<script>

    var header = `<div class="row bg-primary">
                <div class="col-10 col-md-10 text-light border  border-light"
                    style="padding-top:1rem;padding-bottom:0.5rem;">
                    <h3 class=text-left><b>Partname</b></h3>
                </div>
                <div class="col-2 col-md-2 text-light border border-light"
                    style="padding-top:1rem;padding-bottom:0.5rem;">
                    <h3 class=text-left><b>Quantity</b></h3>
                </div>
            </div>`

    
        var builder = function(idx,each){
            var color = "";
            each = parseInt(idx['qty'])
            if(each <= 10){
                    color = "bg-danger"
                }
            else if(each > 10 && each <= 20){
                    color = "bg-warning"
                }

            else if(each > 20 && each <= 30){
                    color = "bg-success"
                }
                header += `<div class="row `+color+`">
                                <div class="col-10 col-md-10 text-light border border-light" style="padding-top:1rem;padding-bottom:0.5rem;">
                                <h5 class=text-left>`+idx['partname']+`</h5>
                            </div>
                            <div class="col-2 col-md-2 text-light border border-light" style="padding-top:1rem;padding-bottom:0.5rem;">
                                <h5 class=text-center>`+idx['qty']+`</h5>
                            </div>
                        </div>`
                    }
    $.ajax({
        url: "http://localhost:5052/data",
        type:"GET",
        dataType:"json",
        contentType:"application/json",
        success:function(data){
            data.forEach(builder)
            $("#tabulations").html(header);
        }
    })

</script>

</html>